<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bookings</title>
</head>

<style>
    header {
        margin: 0%;
        text-align: center;
        text-decoration: underline;
        color: blueviolet;
    }

    section {
        margin: auto;
        margin-left: 20%;
    }

    footer {
        position:relative;
        bottom: 100%;
        color: #000;
    }



</style>

<body>
    <header>
        Bookings from Layout
    </header>

    <section>
        {% block body %}
        {% endblock %}
    </section>
    
    <footer>
        2024
    </footer>
</body>
</html>